/* .modal {
  width: 496px;
  height: 304px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.modal__header {
  display: flex;
  gap: 332px;
} */
