.clothing__card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
}

.clothing__card-item {
  position: relative;
  width: 323px;
  height: 326px;
}

.clothing__like-btn {
  width: 25px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url(../../assets/likeButton.svg);
  border: none;
  position: absolute;
  top: 18px;
  left: 209px;
  background-color: transparent;
}

.clothing__like-btn_liked {
  background-image: url(../../assets/likeButtonBlack.svg);
  background-color: transparent;
}

.clothing__card-image {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.clothing__card-title {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
  width: 72px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 130px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}
