.modal__content-type-image {
  width: 490px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
}

.modal__close-item {
  background-image: url(../../assets/CloseBtn.svg);
  background-color: transparent;
}

.modal__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 490px;
  max-width: 490px;
}

.modal__footer {
  padding: 0 32px 32px;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}

.modal__delete-btn {
  position: absolute;
  top: 510px;
  left: 331px;
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 77, 0);
  margin-right: 6px;
  border: none;
  background-color: white;
}
